extends ../blocks/default.pug
block content
	#preloader(style="background-color: #413d4b")
		#loader
	include ../blocks/data.pug
	include ../blocks/short-description-block.pug
	include ../blocks/preview-block.pug
	include ../blocks/comment-block.pug
	-var $popupSuccessText = 'Спасибо за Ваше обращение! Мы Вам обязательно ответим!'
	include ../blocks/popup-success.pug
	-
		var videoSettings = {
			muted: false,
			poster: false,
			autoplay: false,
			loop: true,
			controls: true,
			src: './assets/video/audi.mp4',
			type: 'video/mp4'
		}
	include ../blocks/video-popup.pug
	section.home-block#home
		.carousel-block
			.carousel
				each slide in carouselSlides
					.carousel__slide
						h1.slide__caption #{slide.caption}
						p.slide__description #{slide.description}
						a.slide__link(href="/") #{slide.link}

	section.about-block#about
		.story-container
			.story-container__img
				img(src="./assets/images/logo.png" alt="")
			.story-container__description
				h2.description__caption OUR STORY
				p.description__paragraph.
					Pug fully integrates with Express, a popular Node.js web framework, as a supported view engine. Check out Express’s excellent guide for how to integrate Pug with Express.
				p.description__paragraph.
					Specifically, when process.env.NODE_ENV is set to 'production', and Pug is used with Express, the compileDebug option is false by default, while the cache option is true.
				a(href="/").description__link learn more
		.video-preview-container
			.video-preview-container__play
				.play-btn
					img(src="./assets/images/play.png" alt="")
				.btn-text WATCH OUR STORY

	section.expertise-block#expertise
		h2.expertise-block__caption EXPERTISE
		p.expertise-block__description Lorem ipsum dolor sit amet proin gravida nibh vel velit
		.short-description-block-wrapper
			each item in shortDescriptionItems
				+short-description-block(item)

	section.team-block#teams
		.team-block-container
			h2.team-block__caption MEET OUR AMAZING TEAM
			p.team-block__description Lorem ipsum dolor sit amet proin gravida nibh vel velit
			.team-block__preview
				for item in previewBlockItems
					+preview-block(item)
			p.team-block__paragraph Become part of our dream team, let’s join us !
			a.team-block__link(href="/") we are hiring

	section.works-block#works
		header.works-block__header
			h2.header__caption our works
			a(href="/").header__link-see See All Project in dribbble
		.works-block__content
			.preview-container
				each block in workLinks
					a(href=block.href).preview-container__work
						.preview-container__work_hover
							span learn more
			a(href="/").preview-container__link load more

	section.comments-block#comments
		.carousel-container
			.carousel-comments
				each item in commentBlocks
					+comment-block(item)
			.carousel-commentators
				each item in [1, 2, 3, 4, 5, 6, 7, 8]
					.carousel-commentators__slide
						.slide

	section.clients-block
		.clients-block__feedback
			h2.feedback__caption GIVE US A GOOD NEWS
			form.feedback__form
				.form-group
					input.form__name(type="text" name="name" placeholder="Name" minlength="2")
				.form-group
					input.form__email(type="text" name="email" placeholder="Email" minlength="5")
				.form-group
					input.form__phone(type="text" name="phone" placeholder="Phone")
				.form-group.form-group_textarea
					textarea.form__message(name="message" placeholder="Your Message" maxlength="300" minlength="2")
				button.form__submit(type="submit") submit
		.clients-block__group
			h2.group__caption OUR HAPPY CLIENT
			.group__logo-container
				each item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
					.logo
						img(alt="" src="./assets/images/clients/logo-0" + item + '.png')

	section.footer-container#contact
		footer.footer
			.footer__col.footer__about
				a(href="/").about__logo
					img(src="./assets/images/logo-main.png" alt="")
				p.about__text.
					lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagi. Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagi.
				.about__links-block
					each item in footerLinks
						a(href=item.linkHref).links-block__link #{item.linkContent}
			.footer__col.footer__contacts
				h4.contacts__caption our studio
				p.contacts__adress Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
				a(href="tel:+79780313052").contacts__phone +7 (978) 0313052
			.footer__col.footer__subscribe
				h4.subscribe__caption STAY IN TOUCH
				form.subscribe__form
					input(name="email-subscribe" placeholder="Subscribe our newsletter" minlength="5").form__email
					button(type="submit").form__submit
						img(src="./assets/images/send-icon.png" alt="")
				.subscribe__social
					each item in socialLinks
						a(href=item.linkHref class="social__link social__link_" + item.imageId)
							svg(class="social__img social__img_default")
								use(xlink:href="./assets/images/sprites/social-icons-sprite.svg#shape-" + item.imageId)
							svg(class="social__img social__img_hover")
								use(xlink:href="./assets/images/sprites/social-icons-sprite.svg#shape-" + item.imageIdHover)
				.subscribe__copyright Copyright © 2015 - Tajam Creative

	section.menu-overlay
		.link-container
		img.menu-overlay__close(src="./assets/images/close.svg" alt="")






