.video-popup
	video.video(muted=videoSettings.muted poster=videoSettings.poster autoplay=videoSettings.autoplay loop=videoSettings.loop controls=videoSettings.controls)
		source(src=videoSettings.src type=videoSettings.type)
	img.video-popup__close(src="./assets/images/close.svg" alt="")

